.contenedor-principal{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    border: 2px solid;
    border-color: black;
}
.cont-nombre{
    font-size: 30px;
    margin-left: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cont-page{
    font-size: 30px;
    margin-left: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}